@import url('https:////fonts.googleapis.com/css?family=Lato%3A300%2C400%7CMontserrat%3A400%2C900&amp;display=swap&amp');

:root {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
}

* {
    box-sizing: border-box;
}

body {
    background: url("../img/Clients-Bg.jpeg")no-repeat center center/cover;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    justify-content: center;
    color: #fff;
    padding: 5px;
    transition: all .15s ease-in-out;
}


.leaderboard {
    font-weight: 900;
      overflow: hidden;
      margin: 0;
      padding-right: 10%;
      padding-left: 10%;
      text-transform: uppercase;
      text-align: center;
      color: #080404;
      background-color: rgba(255, 255, 255, .65);
      mix-blend-mode: lighten;

}

#container {
    width: 100%;
    padding: 15px;
    background-color: rgba(18, 18, 18, .7);
    overflow: scroll;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3), 1px 5px 10px rgba(0, 0, 0, 0.1);


}

#table {
    max-width: 100%;
    width: 100%;

}

#list-header {
    font-size: 1.3rem;
    margin: 1px;
    padding: 10px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25), 1px 5px 10px rgba(0, 0, 0, 0.35);
    color: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 4px 8px rgba(0, 0, 0, 0.6);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#list-header.active {
    text-shadow: 0px 3px 6px rgba(252, 185, 0, 0.3), 1px 5px 10px rgba(252, 185, 0, 0.1);
    color: var(--wp--preset--color--luminous-vivid-amber);
    background-color: var(--wp--preset--color--black);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 4px 8px rgba(0, 0, 0, 0.6);
}

#list-header:hover,
.btn-secondary:hover {
    background-color: #5c636a;
    color: var(--wp--preset--color--luminous-vivid-amber);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.7), 1px 4px 8px rgba(0, 0, 0, 0.6);
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6), 1px 5px 10px rgba(0, 0, 0, 0.3);
}

#list-header.active:hover {
    background-color: var(--wp--preset--color--black);
    color: var(--wp--preset--color--luminous-vivid-orange);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25), 1px 4px 8px rgba(0, 0, 0, 0.35);
}

th {
    margin: 10px;
    padding: 5px 2px;
    background-color: #5c636a;
    text-align: center;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6), 1px 4px 8px rgba(0, 0, 0, 0.6);

}

td {

    font-size: 1.1rem;
    padding: 1px 12px;
    text-align: center;
    margin: 2px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6), 1px 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 6px 10px rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all .25s ease-in-out;
}

td.show {
    opacity: 1;
    transition: all .25s ease-in-out;
}

td.active {
    background-color: rgba(0, 0, 0, .5);
    text-shadow: 0px 3px 6px rgba(252, 185, 0, 0.2), 1px 5px 10px rgba(252, 185, 0, 0.1);
    color: var(--wp--preset--color--luminous-vivid-amber);
}

.btn-secondary {
    font-size: 1.3rem;
    border-radius: 0%;
    width: 150px;
    background-color: var(--wp--preset--color--cyan-bluish-gray);
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6), 1px 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6), 1px 4px 8px rgba(0, 0, 0, 0.4);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.header {
    position: fixed;
    top: 0;
    background-color: rgba(18, 18, 18, .8);
    max-width: 100%;
}

.info h3{
    font-size: 1rem !important;
}